.features{
    background: linear-gradient(90deg, #B88E2F, #F5C964, #B88E2F);
}
.services{
    background: linear-gradient(90deg, #B88E2F, #F5C964, #B88E2F);
}
.services p{
    /* font-size: 10px; */
}
.services h2{
    color: white;
}