.features{
    background: linear-gradient(90deg, #B88E2F, #F5C964, #B88E2F);
}
.services{
    background: linear-gradient(90deg, #B88E2F, #F5C964, #B88E2F);
}
.services h2{
    color: white;
}
.services p{
    color: black;
}

.card h4,p{
    color: black;
}